
*
{
    box-sizing:border-box;
}



#content {
  
    overflow:hidden;
    max-width:600px;
    max-height:150px;
    margin:60px auto;
    border:2px solid black;
    padding:10px;
    color:lightslategrey;
    font-weight:bold;
    background-color:lightblue;
    -webkit-transition:max-height 0.7s;
    transition: max-height 1s;
    line-height: 20px;
}

#content.open {
    max-height: 1000px;
    -webkit-transition:max-height 0.7s;
    transition: max-height 1s;
}

a {
    width:200px;
    margin:50px auto;
    padding:20px;
    border:1px solid black;
    color:#fff;
    background-color: blue;
    display:block;
    text-transform:uppercase;
    font-family: verdana;
    text-align:center;
}

body {
    background-color:lightskyblue;
}

hr {

    border:3px solid black;
}


#container {

    height:600px;
    width:100%;
    border: 5px solid black;
    display:flex;
    flex-grow:1;
    margin:50px auto;
    background-color: navy;
    justify-content:center;
    align-items:center;
}

.box {

    width:300px;
    height:350px;
    border:3px solid #fff;
    border-radius:3px;
    margin:10px 10px;
    padding:5px;
}


h1 {

    color:white;
    font-size:12px;
    text-align:center;
    font-family:verdana;

}

h2 {

    color:white;
    font-size:30px;
    text-align:center;
    font-family:verdana;
}

#container p {

    color:white;
    font-size:15px;
    text-align:center;
    font-family: verdana;
}

#container a {
    width:200px;
    height:50px;
    margin:5px auto;
    padding:10px;
    color:white;
    border:3px solid purple;
    border-radius:5px;
    background-color:navy;
    text-transform:none;

}

#container hr {
    border: 1px solid grey;
}



.description {

    line-height:25px;
}

.box:hover {

    border:6px solid purple;


}

#container a:hover {

    background-color:purple;
}

#intro {

    margin:5px auto;
    font-size:30px;
    font-family:verdana;
    text-shadow:2px 1px;
    color:darkorchid;
}

#intro:hover {

    color:blueviolet;
    letter-spacing: 5px;
}