
*
{
    box-sizing:border-box;
}



#content {
  
    overflow:hidden;
    max-width:600px;
    max-height:150px;
    margin:60px auto;
    border:2px solid black;
    padding:10px;
    color:lightslategrey;
    font-weight:bold;
    background-color:lightblue;
    -webkit-transition:max-height 0.7s;
    transition: max-height 1s;
    line-height: 20px;
}

#content.open {
    max-height: 1000px;
    -webkit-transition:max-height 0.7s;
    transition: max-height 1s;
}

a {
    width:200px;
    margin:50px auto;
    padding:20px;
    border:1px solid black;
    color:#fff;
    background-color: blue;
    display:block;
    text-transform:uppercase;
    font-family: verdana;
    text-align:center;
}

body {
    background-color:lightskyblue;
}

hr {

    border:3px solid black;
}


#container {

  
    
    border: 5px solid black;
    display:flex;
    flex-grow:1;
    margin:50px auto;
    background-color: navy;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.box {

    width:300px;
    height:350px;
    border:3px solid #fff;
    border-radius:3px;
    margin:10px 10px;
    padding:5px;
}


h1 {

    color:white;
    font-size:12px;
    text-align:center;
    font-family:verdana;

}

h2 {

    color:white;
    font-size:30px;
    text-align:center;
    font-family:verdana;
}

#container p {

    color:white;
    font-size:15px;
    text-align:center;
    font-family: verdana;
}

#container a {
    width:200px;
    height:50px;
    margin:5px auto;
    padding:10px;
    color:white;
    border:3px solid purple;
    border-radius:5px;
    background-color:navy;
    text-transform:none;

}

#container hr {
    border: 1px solid grey;
}



.description {

    line-height:25px;
}

.box:hover {

    border:6px solid purple;


}

#container a:hover {

    background-color:purple;
}

.intro {

    margin:10px auto;
    font-size:30px;
    font-family:verdana;
    text-shadow:2px 1px;
    color:darkorchid;
}

.intro:hover {

    color:blueviolet;
    letter-spacing: 5px;
}

.wrapper {

    width:80%;
    height:700px;
    border-radius:5px;
    background-color:#fff;
    box-shadow:4px 4px 5px grey;
    margin: 5px auto;
    display:flex;
    flex-grow: 1;


}

.partition {

    /*border: 1px solid black; */
    width:32%;
    margin: 4px auto;

}

.wrapper h1
{

    color:black;
    font-size: 20px;

}

.wrapper h2 {
    color:black;
    font-size:15px;
}

.wrapper a {

    width:200px;
    height:50px;
    color:black;
    font-family:verdana;
    text-align:center;
    margin:20px auto;
    border: none;
}

.dashboard {

    border-radius:20px;
    background-color: lightgray;
    text-transform:none;
    padding:15px;
}

.items {
    background-color: #fff;
    text-transform:none;
}





 .search {

    background-color: #fff;
    color:lightgrey !important;
    text-transform: none;
    border:2px solid lightgrey !important;
    border-radius: 20px;
    padding:15px;
    text-align:left !important;
    

}

#recent {

    display:flex;


}


.folder {

    border:2px solid black !important;
    width:40%;
    height:150px;
    margin:5px 10px;
    background-color:lightskyblue;
}

#recent h1 {

    font-size:30px;
}


#projects {

    display:flex;
    margin-top:120px;
    flex-wrap:wrap;


}

#projects div {

    border:2px solid black;
}

.project {

    width:46%;
    height:120px;
    margin:5px;
    padding:20px;

}


#projects span {
    font-size:20px;
}

#projects p {
    font-size:30px;
    margin:2px auto;
    text-align: center;
    
}

.more span {
    color:grey;

}

.more {
    border:none  !important;
    background-color: lightgray;
    box-shadow:2px 2px 5px grey;
    border-radius:5px;
}


.sintex, .tetrion, .petron {

    border:none !important;
    background-color:lightskyblue;
    border-radius:10px;
}


.letter {

    width:40px !important;
    padding:10px;
    margin:10px 4px;
    border:1px solid black;
    border-radius:20px;
    background-color:#fff;
    box-shadow:3px 3px 3px gray;

}

#tasks {

    display:flex;  
    height:550px;
  /*  border:2px solid black; */
    background-color:lightskyblue;
    padding:4px;
    margin:2px;
    flex-direction: column;
    flex-wrap: wrap;   

}

.task {

    width:100%;
   /* border:1px solid black; */
    margin:6px auto;
    padding:5px;
    background-color:wheat;
    box-shadow:2px 2px 2px #fff;
    
}


.task:hover {
background-color:blanchedalmond;
}

a[class="circle"]:hover{
    background-color:lightskyblue;
}


.task a {
    width:10%;
    border-radius:20px;
    height:10px;
    margin:3px;
    background-color: #fff;
    padding:20px;
    

    
}


.task p {
    font-size:20px;
    margin:0;
    width:90%;

}


a[class*="task-button"] {
    background-color: #fff;
    width:150px;
    text-transform: none;
    text-align:center;
    padding:20px 5px;
    margin:2px;
    
}

a[class*="design"] {
    background-color:crimson;
    color:#fff;

}

a[class*="marketing"] {
    background-color:green;
    color:#fff;

}

a[class*="dev"] {
    background-color: blueviolet;
    color:#fff;
}

div[class*="one"] {

    position:relative;
}

h1[class="header"]{

    position:absolute;
    top:0;
    left:70px;
    font-size:30px;
}

a[class="dashboard"] {
    margin-top:100px;
}
a[class="dashboard"]:hover {
    background-color: lightslategray;
}


div[class*="sintex"], div[class*="tetrion"], div[class*="petron"] {
    box-shadow: 2px 2px 2px grey;
}
div[class*="sintex"]:hover, div[class*="tetrion"]:hover, div[class*="petron"]:hover {
    background-color:lightblue;
}

div[class*="more"]:hover {
    background-color:cadetblue;

}

div[class="folder"]:hover {
    background-color: lightblue;
}

a[class="items"]:hover {
    background-color:beige;
    border-radius:20px;
}

div[class*="task"]{
    border-radius:20px;
}

a[class="search"]:hover {
    background-color:aliceblue;
    font-style:italic;

}


#challenge3 {

    overflow:hidden;
    width:400px;
    max-height:700px;
    margin:20px auto;
    box-shadow: 3px 3px 10px navy;
    border-radius:8px;
    background-color: #fff;
    font-size:20px;
    -webkit-transition: max-height 0.7s;
    transition: max-height 0.7s;


   
}

#challenge3.opened {
   max-height: 1700px;
    -webkit-transition:max-height 0.7s;
    transition: max-height 0.7s;

}

div[class="nav"] {
    height:80px;    
    background-color:crimson;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    font-family:verdana;
    display:flex;
   justify-content:space-between;
    align-items:center;
    padding:20px;
    font-size:15px;
}
div[class="nav"] h1 {
    font-size:15px;
}

div[class="main-content"] {
    display:flex;
    flex-direction: column;
  
 
}
div[class="main-content"] h1 {
    color:black;
    text-align:left;
    margin:20px 15px;
}
div[class="main-content"] p {
    border:3px solid grey;
    height:50px;
    width:80%;
    margin:3px auto;
    border-radius:5px;
    opacity:0.5;
    padding:10px;
}

div[class="main-content"] p[class="message-box"] { 
    height:110px;

}

div[class="main-content"] p[class="upload-files"] {
    text-align: center;
    border-style:dotted;
}

a[class="message-button"] {
    background-color:crimson;
    margin:25px auto;
    text-transform: none;
    width:85%;
    text-align:center;
    border-radius:5px;
    border:none;
    box-shadow: 1px 1px 3px black;
    text-decoration: none;
}

a[class="message-button"]:hover {

    background-color: red;
}

a[class="message-button"]:active {

    background-color: blue;
}

#expand{
    margin:0 auto;
    background-color:crimson;
    text-transform: none;
    width:250px;
    text-align:center;
    border-radius:5px;
    border:none;
    box-shadow: 1px 1px 3px black;
    text-decoration: none;
}
#expand:hover {
    background-color: red;
}

#tupactext {
    line-height: 20px;
    font-weight:bold;
    text-align:center;
}

p[class="upload-files"]:hover {
    background-color: lightblue;
    color:black;
}


#challenge4 {

    height:650px;
    width:90%;
    margin: 5px auto;
    padding: 2px;
    background-color:darkgray;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    flex-wrap: wrap;
}

.window {
    width:30%;
    height: 550px;
    margin: 10px;
    background-color: azure;
    box-shadow: 4px 2px 5px black;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}

.window img {
    margin:50px auto;
    width:40%;
  

}

.window h3 {
    font-size:20px;
    font-family: verdana;
    margin: 10px auto;
}
.window p {
    font-size: 18px;
    font-style: bold;
    text-align: justify;
    margin: 10px 5px;
}

p[class="skip"] {

    font-weight: bold;
}

.window a {
    width:100px;
    background-color: orangered;
    font-size:20px;
    border:none;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 5px 2px lightcoral;
}


 .window a[class="data"] {
    margin: 30px auto;
    width:220px;
    height:70px;
    text-transform: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.window a:hover {
    background-color:chocolate;
    box-shadow: 10px 5px 2px lightsalmon;
}

#separate {
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;

}

a[class="skip"] {
    width:100px;
}


#challenge5 {

    border-radius:5px;
    box-shadow:1px 1px 5px black;
    width:85%;
    height:650px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    background-color: darkslategray;

}

#interface {

    width: 35%;
    height:600px;
    border:1px solid #fff;
    border-radius:5px;
    background-color:darkslateblue;
    box-shadow: 1px 1px 3px #fff;
}

#interface  p {
    background-color: gold;
    width:50px;
    text-align: center;
    padding:5px;
    margin:10px 12px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 5px;
    box-shadow:1px 1px 1px #fff;
}
#interface  p:hover {
    color:#fff;
}

#photo-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#ionut {
    width:100px;
    height:110px;
    border-radius:60px;
    border:2px solid cyan;
    padding:4px;
}

#ionut:hover {
    border-color:blue;
    box-shadow: 1px 1px 1px blue;

}

#photo-content h2 {
    font-size:10px;
}
#photo-content h3 {
    font-size: 14px;
    color:#fff;
    width:60%;
    text-align: center;
}

#anchors {

    display:flex;
    flex-wrap: wrap;


}

#anchors a {
    width:45%;
    text-transform: none;
    background-color:darkslateblue;
    color:cyan;
    border:2px solid cyan;
    border-radius:5px;
}
#anchors a:hover {
    background-color:lightskyblue;
    color:#fff;
    border:2px solid lightskyblue;
}

#skills {
    background-color:darkblue;
    width:100%;
    height:26%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    flex-direction: column;


}

#skills h2 {
    font-size:15px;
    max-width:100%;
    max-height:12%;
    text-align:left;
    margin:15px 10px;
    text-transform: uppercase;
    text-shadow:1px 1px 2px#fff;
    
}


ul {
    list-style-type: none;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

li {

    display:inline-block;
    border:1px solid #fff;
    box-shadow: 1px 1px 3px #fff;
    padding:2px;
    margin:3px;
}

li:hover {
    background-color: azure;
    color:black;
}

#challenge8 {
    width:80%;
    margin:10px auto;
    height:700;
    background-color: darkolivegreen;
    border:5px solid black;
    border-radius: 5px;


}
#person-content {

    width:100%;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.person {
    width:22%;
    height:300px;
    background-color: green;
    box-shadow:1px 1px 1px black;
    margin:10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#tree-items {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 5px;
}

img[class="tree"] {
    width:150px;
    height: 150px;
    padding: 5px;
}

.tree-details {
    font-size:12px;
}

.join {
    border-radius: 5px;
    border:2px solid #fff;
    font:#fff;
    text-transform: none;
    background-color:darkolivegreen;
    height:60px;
    box-shadow:1px 1px 2px #fff;
    font-weight: bold;
    text-decoration: none;

}
.join:hover {
    color:#000;
    background-color: #fff;
    font-weight: bold;
}

.join:active {
    color:#000;
    background-color: blue;
    border:1px solid blue;
    box-shadow:1px 1px 1px blue;
    font-weight: bold;
}




 .person img {
    width:100px;
    border-radius:50px;
    border:2px solid white;
    box-shadow:1px 1px 1px #fff;
    padding:2px;

}

.person img:hover {
    border:2px solid black;
    box-shadow:1px 1px 1px #000;
}

.person h2 {
    font-size:15px;
}

.person h3 {
    font-size:15px;
    color:#fff;
    border:1px solid #fff;
    border-radius: 10px;
    padding:5px;
    box-shadow:1px 1px 1px #fff;
}

.person h3:hover {
    color:#000;
    background-color: #fff;


}


